*{
  margin: 0;
  padding: 0;
  font-family: 'Josefin Sans',sans-serif;

}
section{
	display: flex;
	position: absolute;
	z-index: 4;

}
/*section 1*/
.section1{
	width: 20vw;
	margin-right: 2%;
	margin-left: 5%;

}
.section2{
	/*background-color: #5afef1*/
	width: 68vw;
	display: inline-block;
}
.txtsrch{
	margin-left: 18%;
	margin-top: 8%;
	width: 23vw;
	height: 5vh;
	border: 1px ridge #5d5e6;
}
.txtsrch[placeholder]{
	padding-left: 1%;
}
.btnsrch{
	width: 5vw;
	height: 5vh;
	background-color: #19e5e5;
	border: 0px;


}
.call-icon{
	height: 4.5vh;
	margin-left: 12%;
}
.tel-no{
	font-size: 1.5vw;
	font-family: fantasy;
}
nav{
	margin-top: 2%;
	width: 100%;
	height: 20%;
	background-color: white;
	border-radius: 6px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.menuitem{
	margin-top: 5vh;
	padding: 2% 2% 2% 2%;
	text-decoration: none;
	background-color: black;
	color: white;
	font-family: "Lobster Two";
	font-size: 1.5vw;
	box-shadow: 10px 15px 50px black;
}
.menuitem:hover{
	background-color: #1d9550;
	box-shadow: none;
}
.logo{
	margin-top: 5vh;
	width: 48vh;
	height: 20vh;
}
.navigation{
    margin-top: 5vh;
    width: 100%;
    height: 6vh;
    background-color: rgb(23, 207, 223);
    border-radius:6px;
    display: flex;
    align-items: center;
}
.toggle{
	height: 5vh;
	width: 2vw;
	margin-left: 5%;
}
.cgr{
	margin-left: 3%;
}
.submenu{
	background-color: rgb(240, 240, 240);
	display: block;
	padding: 4% 4%;
	border-bottom: 1px solid #a7a7ad
	padding-left: 4%;
}
.submenu:hover{
	cursor: pointer;
	background-color: rgb(255, 255, 255);
}
.slider{
	background-color: rgb(255, 255, 255)
	width:67vw;
	height: 50vh;
	margin-top: 3%;
	overflow: hidden;
	margin-top: 15vh;
}
.slider .sliders{
	width: 200vw;
	height: 100%;
	display: flex;

}
.slide1{
	width: 68vw;
	height: 100%;
}
.slide1 .img1{
    width: 33vw;
    height: 100%; 
    display: inline-block;
    object-fit: contain;
}
.slide2 .img2{
	width: 38vw;
	height: 52vh;

}

.slide1 .img3{
	width: 33vw;
	height: 52vh;

}
.constant{
     position: absolute;
     width: 26vw;
     height: 50vh;
     margin-left: 36vw;

}
.constant h1{
	margin-top: 10vh;
	color: #19e5e5

}
.constant p{
	font-family: "Pacifico";
	margin-top: 3vh;
	margin-bottom: 3vh;
}
.constant .btnshopnow{
	padding: 4%;
	color: white;
	background-color: #313030
	border-radius:10px;

}
/**************/


/*section 2*/



/***************/